
*.svn-base

.svn/entries

.svn/format

.svn/wc.db

*.class

bin/AndroidManifest.xml

bin/R.txt

bin/jarlist.cache

bin/res/crunch/drawable-xhdpi/ssdk_auth_title_back.png

bin/res/crunch/drawable-xhdpi/ssdk_back_arr.png

bin/res/crunch/drawable-xhdpi/ssdk_title_div.png

bin/sharesdk.jar
